<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include ('../partials/header') %>
        </header>
        <div class="descriptive-input-class">
            <div class="text-box">
                <label for="Title">Title</label>
                <input type="text" id="title" name="title"><br><br>
                <label for="Category">Category</label>
                <input type="text" id="category" name="category"><br><br>
                <label for="Description">Description</label>
                <input type="text" id="description" name="description"><br><br>
                <button class="btn" id="next">Next</button>
            </div>
        </div>
        <script src="screen.js"></script>
    </body>
</html>



