<!DOCTYPE HTML>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <header>
            <%- include ('../partials/header') %>
        </header>
        <div class="when-where-input-class">
            <div class="text-box">
                <label for="DateAndTime">Date &amp Time</label>
                <input type="text" id="date" name="date"><br><br>
                <input type="text" id="time" name="time"><br><br>
            </div>
        </div>
        <script src="screen.js"></script>
    </body>
</html>


